<%- include("header") -%>

<form action="/createFolder/<%= userId %> " method="post">
    <input type="text" name="folderName" placeholder="FolderName">
    <button type="submit">submit</button>
</form>

<%- include("footer") -%>